<section class="content">
	<div class="container-fluid">
		<div class="row">
          <div class="col-lg-2 col-6">
            <!-- small card -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3 id="transactions">{{ transactions }}</h3>
                <p>Transactions</p>
              </div>
              <div class="icon">
                <i class="fa fa-university"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-2 col-6">
            <!-- small card -->
            <div class="small-box bg-success">
              <div class="inner">
                <h3 id="credit_amt"><sup style="font-size: 20px">$</sup>
                  <span class="myvalue">{{ credit_amt }}</span></h3>

                <p>Credit Amount</p>
              </div>
              <div class="icon">
                <i class="fa fa-credit-card"></i>
              </div>
<!--               <a href="#" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a> -->
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-2 col-6">
            <!-- small card -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3 id="cash_amt"><sup style="font-size: 20px">$</sup>
                  <span class="myvalue">{{ cash_amt }}</span></h3>

                <p>Cash Amount</p>
              </div>
              <div class="icon">
                <i class="fa fa-dollar-sign"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-2 col-6">
            <!-- small card -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3 id="expenses"><sup style="font-size: 20px">$</sup>
                  <span class="myvalue">{{ expenses }}</span></h3>

                <p>Expenses</p>
              </div>
              <div class="icon">
                <i class="fa fa-arrow-circle-down"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-2 col-6">
            <!-- small card -->
            <div class="small-box bg-info">
              <div class="inner">
                <h3 id="income"><sup style="font-size: 20px">$</sup>
                  <span class="myvalue">{{ income }}</span></h3>

                <p>Income</p>
              </div>
              <div class="icon">
                <i class="fa fa-arrow-circle-up"></i>
              </div>
            </div>
          </div>
          <!-- ./col -->
          <div class="col-lg-2 col-6">
            <!-- small card -->
            <div class="small-box bg-danger">
              <div class="inner">
                <h3 id="savings_rate"><span class="myvalue">{{ savings_rate }}</span>
                  <sup style="font-size: 20px">%</sup></h3>

                <p>Savings Rate</p>
              </div>
              <div class="icon">
                <i class="fas fa-piggy-bank"></i>
              </div>
<!--               <a href="#" class="small-box-footer">
                More info <i class="fas fa-arrow-circle-right"></i>
              </a> -->
            </div>
          </div>
          <!-- ./col -->
        </div>
    </div>
</section>